{{extend 'layout_wide.html'}}
{{
from urlparse import urlparse
}}
<div class="about">
	<p>Feed9은 공유하는 링크들의 주소를 줄이고, 클릭횟수를 확인하고, 공유한 링크들을 관리하기 위해 만들어졌습니다. 누구나 회원가입해서 다른 사람의 링크를 보고 점수를 줄 수 있습니다.</p>
	<p>회원가입 후에 제목(필수),링크,카테고리를 입력해서 링크를 올릴 수 있습니다. 각각의 링크는 Feed9의 주소가 부여되는데 그 주소를 짧은 주소로 이용해 외부에 공유하면 클릭 숫자가 집계됩니다.</p>
	<p>좀 간지나게 설명하면 <strong>"투자와 인맥으로부터 자유로운 인디 웹서비스"</strong>입니다.</p>

	<p><strong>카테고리 신청, 피드백:</strong> 
	<br/><a href="mailto:admin@feed9.com">admin@feed9.com</a>, <a href="http://twitter.com/sungchi" target="_blank">@sungchi</a></p>

	<p><strong>협찬:</strong>
	<br/><a target="_blank" href="https://github.com/reddit">github.com/reddit</a><br/>
	<a target="_blank" href="http://twitter.github.com/bootstrap">twitter.github.com/bootstrap</a><br/>
	<a target="_blank" href="http://web2py.com">web2py.com</a><br/>
	<a target="_blank" href="https://appengine.google.com">appengine.google.com</a><br/>
	<a target="_blank" href="http://somerandomdude.com/work/iconic">somerandomdude.com/work/iconic</a></p>

	<p><strong>Feed9 github(소스코드):</strong> 
	<br/><a target="_blank" href="https://github.com/sungchi/feed9">github.com/sungchi/feed9</a></p>
	<div class="facebook_like">
	<div class="fb-like" data-send="false" data-width="450" data-show-faces="false"></div>
	</div>

	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&appId=253108718058432";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>
{{block page_name}}
Feed9 소개
{{end}}
