{{extend 'layout.html'}}
{{from gluon.contrib.markdown import WIKI}}
{{
from urlparse import urlparse
}}

{{def listcomments(id):}}
{{if not tree.has_key(id): return}}

{{for item in tree[id]:}}
<div class="row post cmt">
	<div class="span_cmt">
	<div class="stat">
	<div class="score" id="item{{=item.id}}">
				{{=item.score}}
	</div>
	</div>
	<div class="rate">
	<span class="vote_up" {{if auth.user_id:}}onclick="jQuery('#id').val('{{=item.id}}');ajax('{{=URL(r=request,f='vote_comment',args=['up',item.id])}}',['id'],'item{{=item.id}}');"{{pass}}>vote up</span>
	<span class="vote_down" {{if auth.user_id:}}onclick="jQuery('#id').val('{{=item.id}}');ajax('{{=URL(r=request,f='vote_comment',args=['down',item.id])}}',['id'],'item{{=item.id}}');"{{pass}}>vote down</span>
	</div>
	</div>
	
	<div class="article">
	{{=WIKI(item.body.strip())}} 
   {{=A('고유주소',_href=URL(r=request,f='permalink',args=[item.id]))}} {{=A('신고',_href=URL(r=request,f='report_comment',args=[item.id]))}} {{=A('코멘트',_href="javascript:toggle(%i)"%item.id if auth.user_id else URL(r=request,f='login'))}} {{if item.author==auth.user_id:}}{{=A('수정',_href=URL(r=request,f='edit_comment',args=[item.id]))}} {{pass}}
   {{=timesince(item.post_time,now)}} 전 {{=A(item.author_alias,_href=URL(r=request,f='person',args=[item.author]))}}
   </div>
</div>
{{if forms:}}
{{=forms[item.id].custom.begin}}
<div class="postrow" id="post{{=item.id}}">
<div class="cmt_body">{{=forms[item.id].custom.widget.body}}</div>
<div class="cmt_util"><a href="javascript:closerow({{=item.id}})">닫기</a> <a href="http://ko.wikipedia.org/wiki/%EB%A7%88%ED%81%AC%EB%8B%A4%EC%9A%B4" target="_blank">마크다운 문법 도움말</a> {{=forms[item.id].custom.submit}}</div>
{{=forms[item.id].custom.end}}
</div>{{pass}}
<div class="sub_cmt">
{{listcomments(item.id)}}
</div>

{{pass}}
{{return}}

<form><input type="hidden" id="id" name="id" value="" /></form>

<div id="modal-from-dom" class="modal hide fade">
            <div class="modal-header">
              <a href="#" class="close">&times;</a>
              <h3>링크 내용과 URL</h3>
            </div>
            <div class="modal-body">
              <textarea class="span5" onclick="this.focus();this.select()" id="textarea2" name="textarea2" rows="5"></textarea>
            </div>
            <div class="modal-footer" id="char_count">
              0
            </div>
</div>	

{{if item:}}
<div class="row post">
	<div class="span1">
		<div class="stat">
			<div class="score" id="item{{=item.id}}">
				{{=item.score}}
			</div>
			<div class="click">
				<img src="{{=URL(r=request,c='static',f='eye.png')}}"/>  {{=item.clicks}}
			</div>
		</div>
		<div class="rate">
			  <span class="vote_up" {{if auth.user_id:}}onclick="jQuery('#id').val('{{=item.id}}');ajax('{{=URL(r=request,f='vote',args=['up',item.id])}}',['id'],'item{{=item.id}}');"{{pass}}>vote up</span>
		  <span class="vote_down" {{if auth.user_id:}}onclick="jQuery('#id').val('{{=item.id}}');ajax('{{=URL(r=request,f='vote',args=['down',item.id])}}',['id'],'item{{=item.id}}');"{{pass}}>vote down</span>
			
		</div>
	</div>
	<div class="span7 article">
		<div class="row heading">
	{{if item.category:}}
	<span class="all_cat">{{=A(item.category_alias,_href=URL(r=request,f='index',args=[item.category]))}}</span>
	{{pass}}
  {{if item.url.strip().lower()=='self':}}
    {{=A(item.title,_href=URL(r=request,f='comments',args=[item.id]))}}
  {{else:}}
    {{=A(item.title,_href=URL(r=request,f='bookmark',args=[item.id]))}}
	{{url=urlparse(item.url)}}<span class="src">(<a target="_blank" href="http://{{=url.netloc}}">{{=url.netloc}}</a>)</span>{{pass}}
		</div>
		<div class="row footing">  
  {{=A('%i 코멘트'%item.comments,_href=URL(r=request,f='comments',args=[item.id]))}} {{=A('신고',_href=URL(r=request,f='report',args=[item.id]))}} <a class="share" onclick="$('#textarea2').val('{{=item.title.replace("'","\\'")}}'+{{if item.url.strip().lower()!='self':}}' ('+'{{=url.netloc}}'+') '+{{else:}}' '+{{pass}}'http://{{=request.env.http_host}}{{if item.url.strip().lower()=='self':}}{{=URL(r=request,f='comments',args=[item.id])}}{{else:}}{{=URL(r=request,f='bookmark',args=[item.id])}}{{pass}}');$('#char_count').text(function() {return $('#textarea2').val().length;});" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">공유</a> {{if item.author==auth.user_id:}} {{=A('삭제',_href=URL(r=request,f='delete',args=[item.id]))}} {{pass}} {{=timesince(item.post_time,now)}} 전 {{=A(item.author_alias,_href=URL(r=request,f='person',args=[item.author]))}}
		</div>
	</div>
</div>
{{pass}}

<h1>코멘트</h1>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&appId=253108718058432";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-comments" data-href="http://{{=request.env.http_host}}{{=URL(r=request,f='comments',args=[item.id])}}" data-num-posts="2" data-width="470"></div>

{{if form:}}
{{=form.custom.begin}}
<div class="cmt_body">{{=form.custom.widget.body}}</div>
<div class="cmt_util"><a href="http://ko.wikipedia.org/wiki/%EB%A7%88%ED%81%AC%EB%8B%A4%EC%9A%B4" target="_blank">마크다운 문법 도움말</a> {{=form.custom.submit}}</div>
{{=form.custom.end}}
{{else:}}
<div class="cmt-signup">
{{=A('로그인',_class='btn',_href=URL(r=request,f='login'))}}   {{=A('회원가입',_class='btn',_href=URL(r=request,f='register'))}}
</div>
{{pass}}

{{listcomments(parent)}}
{{block comment_hide}}
<script>
function toggle(id) {
  $(".postrow").hide();
  $("#post"+id).show();
}
function closerow(id) {
  $("#post"+id).hide();
}
</script>
   <script>$(".postrow").hide()</script>
{{end}}
{{block titlebar}}
{{if item:}}{{=item.title[:100]}}{{else:}}코멘트{{pass}} - Feed9
{{end}}
